
body {
    font-family: sans-serif;
    padding: 1em;
}

h1 {
    margin-bottom: 1.5em;
}

a {
    margin-bottom: 1em;
}

ul li {
    margin-bottom: 20px;
}


.fett {
    font-weight: bold;
}

.kursiv {
    font-style: italic;
}
