<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tagebucheintrag für den <span th:text="${eintrag_datum}"></span></title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

  <h1>
    Tagebucheintrag von
    <span th:text="${nutzername}"></span>
    für den
    <span th:text="${eintrag_datum}"></span>
  </h1>

  <p class="meldung" th:if="${meldung != null}">
     <span th:text="${meldung}"></span>
  </p>

  <p class="kursiv abstand_unten" th:text="${eintrag_text}"></p>

  <!-- Nur Eintrag für aktuellen Tag kann geändert werden. -->
  <p th:if="${eintrag_fuer_heute}">
    <a href="../aendern">Ändern</a>
  </p>

  <a href="../hauptseite">Zurück zur Hauptseite</a>

</body>
</html>
