<!DOCTYPE html>
<html lang="de">
  <html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>Tagebuch: Überblick</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

  <h1>Tagebuch von <span th:text="${nutzername}"></span></h1>

  <p class="fett" th:if="${meldung != null}">
    <span th:text="${meldung}"></span>
  </p>

  <p th:if="${tagebucheintrage.size() > 0}">
    Anzahl Tagebucheinträge: <span th:text="${tagebucheintrage.size()}"></span>
  </p>
  <br>

  <div th:each="eintrag : ${tagebucheintrage}">
    <p>
       <span class="fett"   th:text="${eintrag.datum + ':'}"></span>
       <span class="kursiv" th:text="${eintrag.text}" ></span>
      (<a th:href="@{${eintrag.link}}">Öffnen</a>)
    </p>
  </div>

</body>
</html>
