<!DOCTYPE html>
<html lang="de">
  <html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <title>Tagebuch: Überblick</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

  <h1>Tagebuch von <span th:text="${nutzername}"></span></h1>

  <div th:each="eintrag : ${tagebucheintrage}">
    <p th:text="${eintrag.datum}"></p>
    <p th:text="${eintrag.text}"></p>
  </div>

</body>
</html>
