<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tagebuch: Überblick</title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles.css">
</head>
<body>

  <h1>
    Tagebuch von <span th:text="${nutzername}"></span>
    <span class="schrift_klein">( <a href="/logout">Logout</a> )</span>
  </h1>


  <p class="meldung" th:if="${meldung != null}">
    <span th:text="${meldung}"></span>
  </p>

  <p th:if="${tagebucheintrage.size() > 0}" class="abstand_unten">
    Anzahl Tagebucheinträge: <span th:text="${tagebucheintrage.size()}"></span>
    ( <a href="/api/v1/generatePDF">PDF-Export</a> )
  </p>

  <!-- Link für neuen Eintrag anzeigen, wenn es noch keinen Eintrag für das heutige Datum gibt. -->
  <p th:if="${not eintrag_fuer_heute}" class="abstand_unten">
    <a href="neu">Neuer Eintrag</a>
  </p>

  <div th:each="eintrag : ${tagebucheintrage}">
    <p>
       <span class="fett"   th:text="${eintrag.datum + ':'}" ></span>
       <span class="kursiv" th:text="${eintrag.text}"        ></span>
       ( <a th:href="@{${eintrag.link}}">Öffnen</a> )
    </p>
  </div>

</body>
</html>
