<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${seitentitel}"></title>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../styles.css">
</head>
<body>

  <h1 th:text="${seitentitel}"></h1>

  <textarea th:text="${alterText}" rows="10">
  </textarea>

  <div>
    <a href="#" onclick="return onSpeichernButton();">Speichern</a>
    &nbsp;
    <a href="hauptseite">Abbrechen</a>
  </div>

  <!-- Erst JavaScript-Datei laden, wenn DOM-Baum geladen ist. -->
  <script src="../../neuAendern.js"></script>

</body>
</html>
